 <mat-toolbar>
  <button
    class="drawer-button"
    mat-icon-button
    aria-label="Show navigation bar"
    (click)="drawerReference.open()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>News App</h1>
</mat-toolbar>
<div class="info-bar">
  <div class="date-info">
    {{currentDate}}
  </div>
  <div class="weather-info">
    <mat-icon>cloud</mat-icon>
    <span>28 °C</span>
  </div>
  <form class="search-bar">
    <input class="search-input" type="text" placeholder="Search">
    <button class="search-button" mat-flat-button type="submit">Search</button>
  </form>
</div>